@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    position:center;
    background-blend-mode: multiply;
    background-size: cover;
    height: auto;

}
header{
    background-image: url("Neutrals.jpg");
    position:center;
    background-blend-mode: multiply;
    background-size: cover;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.Serve{
    margin:29px 160px 0 48px;
    min-height: 400px;
}
.button-head {
    min-width: 120px;
    position: relative;
    cursor: pointer; 
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(29, 28, 28, 0.1);
    background: transparent;  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .button-head::before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 15%;
    opacity: 0.2;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  .button-head:hover {
   background-color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .button-head:hover::before {
    opacity: 1;
  }
  .icon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #d7c7a3;
  }
  
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #e67f30;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #e67f30;
  }
  
  .menu {
    background-color: #fff;
    margin: 40px;
    padding: 22px;
    height: auto;
  }
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
.marr{
  display:grid;
  justify-items: center;
grid-template-columns: repeat(4,350px);
}
  .responsive {
    padding: 4px 7px;
    float: left;
    width: 318px;
    margin: 25px;
  }
  .gallery img{
    height: 300px;
    width: 300px;
  }
  .Latte{
    margin-bottom: 20px;
  }
  .title {
    color: grey;
  }
  .price , .gallery p , .gallery h2{
    margin-left: 10px;
  }
 .price .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
  }
  
 .price .button:hover {
    background-color: #555;
  }

  .Cheek .button {
    border-radius: 9px;
    background-color: #bd762c;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 187px;
    transition: all 0.8s;
    cursor: pointer;
    margin: 10pX;
  }
   .Cheek .button span {   
     color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
   .Cheek .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.9s;
  }
  
   .Cheek .button:hover span {
    padding-right: 10px;
    font-size: 15px;  
  }
  
   .Cheek .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .Cheek{
    margin: 0 0 30px 0 ;
    background-image: url("chh.jpg");
     background-repeat: round;
    position:center;
    background-size: contain;
    height: auto; 
  }
.test1{
  margin: 0 85px;
  padding: 149px 0;
}
  
.custom{
  background-color: #fff;
  margin: 0 30px;
  padding: 22px;
  height: auto;
}
  .fa {
    color: yellow;
    background-color: transparent;
  }
  .crad{
    display: flex;
  }
  .names-star{
    display: flex;
    justify-content: space-between;
  }
  .border{
    border: 1px solid #ccc;
    margin: 4px;
    width: 250px;
  }
  .names-star img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .join{
    margin: 0 0 30px 0 ;
    background-image: url("cheet.jpg");
     background-repeat: round;
    position:center;
    background-size: contain;
    height: auto; 
  }
  .test2{
    text-align: center;
  }
.name-f{
  font-size: 12px;
  margin-right: -28px;
  line-height: 16px;
}
.clean-slide {
  position: relative;
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #9ac0b6;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  border-color: #777;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    text-shadow: 0 1px 0 rgba(238, 189, 119, 0.4);

    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }
  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
      padding: 13px 15px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #032429;
    text-align: left;
    text-shadow: 0 1px 0 rgba(238, 189, 119, 0.4);
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      background: #bd762c;
      z-index: -1;
      transform: translate(0);
      transition: all .3s ease-in-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      
    }
  }
}
.clean-slide:focus,
.clean-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    transform: translateX(-100%);
    
    &:after {
      transform: translate(100%);
    }
  }
}
footer{
  display: flex;
  justify-content: space-around;
}
.social img{
  height: 30px;
  width: 30px;
}
.social p{
  display: inline-block;
}




#wrapper {
  width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}


  @media only screen and (max-width: 1295px) {
    .marr{
    grid-template-columns: repeat(4,243px);
    }
    .responsive {
    padding: 4px 7px;
    width: 236px;
    margin: -7px;
    }
    .gallery img{
      height: 221px;
      width: 221px;
    }
  }
  
  @media only screen and (max-width: 990px) {
    .marr{
      grid-template-columns: repeat(2,348px);
      }
    .responsive {
      padding: 4px 7px;
      width: 288px;
      margin: 5px;
    }
    .gallery img{
      height: 273px;
      width: 273px;
    }
    .test1 {
      margin: 0 85px;
      padding: 116px 0
    }
    .names-star {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 851px) {

    .marr{
      grid-template-columns: repeat(2,47%);
      }
    .responsive {
      padding: 4px 7px;
    width: 216px;
    margin: 14px;
    }
    .gallery img{
      height: 200px;
      width: 200px;
    }
    .test1 {
      margin: 0 204px 0 31px;
      padding: 76px 0
    }
  }
  @media only screen and (max-width: 751px) {
  .crad {
    display: flex;
    flex-direction: column;
}
  }
   @media only screen and (max-width: 600px) {
    .Serve {
      margin: -2px 26px 0 25px;
      min-height: 306px;
    }
    .icon a img {
        height: 80px;
        width: 80px;
    }
    .marr{
      grid-template-columns: repeat(1,99%);
      }
    .responsive {
      padding: 4px 7px;
    width: 266px;
    margin: 14px;
    }
    .gallery img{
      height: 250px;
      width: 250px;
    }
    .test1 {
      margin: 1px 109px 0 11px;
      padding: 24px 0;
  }
  .Cheek .button {
    padding: 11px;
    width: 151px;
    margin: 1pX;
  }
   .test2 h1{
font-size: 16px;
   }
   .test2 p{
    font-size: 10px;
       }
   .test2{
    margin: 0 20px 0 0 ;
       }
       footer{
        display: grid;
       }
       .foot-row{
        margin-left: 12px;
       }
       .foot-row p{
        display: inline-flex;
        margin:10px;
      }
      

}
